body{
	background-color: #232a38;
	color: #bbb;
	font-size: 16px;
	line-height: 1em;
	font-family: sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	font-weight: 100;
	line-height: 1em;
}
a, a:link{
	color: #9db2cc;
	text-decoration: none;
}
a:hover, a:active{
	color: #3fa4cc;
}
div, ul, ol, p{
	box-sizing: border-box;
}
ul, ol{
	list-style-type: none;
}

.wrapper{
	width: 100vw;
	height: 100vh;
}
nav + .container{
	float: left;
	height: 100%;
	overflow: hidden;
	padding: 20px;
	width: calc(100% - 50px);
	transition: width 0.4s;
	position: relative;
}
nav.active + .container{
	width: calc(100% - 300px);
}

nav{
	float: left;
	width: 50px;
	height: 100vh;
	transition: width 0.4s;
}
nav.active{
	width: 300px;
}
nav > .menu{
	width: 300px;
	height: 100%;
	background-color: #121729;
	padding: 0;
	transform: translate(-250px, 0);
	transition: transform 0.4s;
}
nav h1{
	height: 35px;
	line-height: 35px;
	padding: 5px 0 0 50px;
	box-sizing: border-box;
	font-size: 20px;
	color: #c7a082;
}
nav > .menu.active{
	transform: translate(0, 0);
}
nav > .menu-icon{
	width: 30px;
	height: 22px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}
nav > .menu-icon > .menu-bar,
nav > .menu-icon > .menu-bar:before,
nav > .menu-icon > .menu-bar:after{
	position: absolute;
	top: 10px;
	width: 30px;
	height: 2px;
	content: '';
	display: block;
	background-color: #fff;
	transition: all 0.2s;
}
nav > .menu-icon > .menu-bar:before{
	top: -10px;
}
nav > .menu-icon > .menu-bar:after{
	top: 10px;
}
nav > .menu-icon.active > .menu-bar{
	background-color: transparent;
}
nav > .menu-icon.active > .menu-bar:before{
	transform: rotate(45deg);
	top: 0;
}
nav > .menu-icon.active > .menu-bar:after{
	transform: rotate(-45deg);
	top: 0;
}






.main-splash{
	width: 400px;
	height: 400px;
	background-color: #3fa4cc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 9999;
}

.photo-group{
	width: 200px;
	height: 200px;
	position: relative;
}
.photo-group .group-ui h5{
	text-align: center;
	font-size: 14px;
}
.photo-group > img{
	width: 100%;
	position: absolute;
}




/* settings view */
.setting-contents{
	margin-bottom: 20px;
}

.container h3{
	margin: 10px 0 0 0;
}